<!DOCTYPE html>

<html>
    <head>
        <title>GraphAlgo</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static',filename='styles.css')}}" >
        {%block head%}{%endblock%}
    </head>
    <body>
        <a href="{{ url_for('index') }}" style="text-decoration: none;"><h1 id="mainheading">GraphAlgo</h1></a>
        <p style="margin-bottom: 30px;">A graph visualization tool for beginners! </p>
        <div class="container-fluid">
            <div class="row">
                <div class="col-2" id="algo-wrapper">
                    <h3 class="algoheading">Algorithms</h3>
                    <hr>

                    <a href="{{ url_for('dfs') }}" style="text-decoration: none;"><div class="algo" id="dfs">Depth First Search</div></a>
                    <a href="{{ url_for('bfs') }}" style="text-decoration: none;"><div class="algo" id="bfs">Breadth First Search</div></a>
                    <a href="{{ url_for('djikstra') }}" style="text-decoration: none;"><div class="algo" id="djikstra">Dijikstra's Algorithm</div></a>
                    <a href="{{ url_for('tsort') }}" style="text-decoration: none;"><div class="algo" id="tsort">Topological Sort</div></a>
                </div>
                <div class="col-8" id="svg-wrapper">
                <svg style="width:100%;">
                    <circle cx="200" cy="200" r="50" style="fill:blue"/>
                </svg>
                </div>
                <div class="col-2" id="input-wrapper">
                    {% block input %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>

</html>