<!DOCTYPE html>

<html>
    <head>
        <title>GraphAlgo</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="{{url_for('static',filename='d3/d3.min.js')}}"></script>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles.css')}}" >
        {%block head%}{%endblock%}
    </head>
    <body>
        <a href="{{ url_for('index') }}" style="text-decoration: none;"><h1 id="mainheading">GraphAlgo</h1></a>
        <p style="margin-bottom: 30px;">A graph visualization tool for beginners! </p>
        <div class="container-fluid">
            <div class="row">
                <div class="col-2" id="algo-wrapper">
                    <h3 class="algoheading">Algorithms</h3>
                    <hr>

                    <a href="{{ url_for('dfs') }}" style="text-decoration: none;"><div class="algo" id="dfs">Depth First Search</div></a>
                    <a href="{{ url_for('bfs') }}" style="text-decoration: none;"><div class="algo" id="bfs">Breadth First Search</div></a>
                    <a href="{{ url_for('djikstra') }}" style="text-decoration: none;"><div class="algo" id="djikstra">Dijikstra's Algorithm</div></a>
                    <a href="{{ url_for('tsort') }}" style="text-decoration: none;"><div class="algo" id="tsort">Topological Sort</div></a>
                </div>
                <div class="col-8" id="svg-wrapper">
                <svg style="width:100%;" viewBox="0 0 900 800">
                
                    <!-- <circle cx="930" cy="595" r="5" style="fill:blue"/> -->
                </svg>
                </div>
                <div class="col-2" id="input-wrapper">
                    {% block input %}
                    {% endblock %}
                </div>
            </div>
            <hr>
            <small> Made By Rajreet Sarkar</small>
        </div>
    </body>

</html>